html, body {

}

body {
  display: flex;
}

.sunburst-container {
  box-shadow: 1px 1px 2px #888;
}

#breadcrumbs {
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  padding: 1em;
}

#breadcrumbs h1 {
  color: #555;
}
